html {
  overflow-x: hidden;
}

body {
  max-width:100%;
  width:100%;
  max-height:100%;
  overflow: hidden;
}

.row {
  padding:0 !important;
}

.container {
  max-width: 480px;
  border:1px solid #eee;
  padding:0;
}

a {
  text-decoration: none;
  color:#000;
}

.header-style {
  border-bottom:0.5px dotted #78afe9;
}

.seciton-header {

}

.thumimg {
  max-height: 20px;
  padding-right:10px;
}


.s-title {
  color:#000;
  font-size:0.8em;
}
